# Django Secret Key
DJANGO_SECRET_KEY=your_secret_key_here

# Debug mode
DEBUG=True

# Email configuration (Gmail example)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_email_password_here
DEFAULT_FROM_EMAIL=your_default_from_email@example.com

# Contact email(s)
CONTACT_EMAILS=contact1@example.com, contact2@example.com

# Other Django settings (optional)
ALLOWED_HOSTS=127.0.0.1,localhost

# Database configuration
# If you prefer PostgreSQL, uncomment and set the following line:
# DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>
# If you don't define DATABASE_URL, SQLite will be used automatically (default for local development).

# Cloudinary settings
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here