# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
virtualenv/
python_env/

# Media files (uploaded by users)
media/

# Static files (collected static files)
staticfiles/

# Django migrations (except __init__.py)
**/migrations/*
!**/migrations/__init__.py

# .env file
.env

# Log and temporary files
*.log
*.pot
*.mo
*.bak
*.swp

# IDE and editor directories
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Python packaging and distribution
/dist/
/build/
*.egg-info/

# Test and coverage files
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Docker related files (if using Docker)
docker-compose.override.yml
.docker/

# Other temporary or system files
.DS_Store
Thumbs.db

# SQLite database file (added to ignore db.sqlite3)
db.sqlite3
