{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Your Password{% endblock %}

{% block robots %}noindex, nofollow{% endblock robots %}

{% block hero_title %}Reset Your Password{% endblock hero_title %}

{% block hero_subtitle %}Please enter a new password.{% endblock hero_subtitle %}

{% block content %}
    <!-- Password reset form for entering a new password. -->
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Reset Password</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Set New Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
