{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block robots %}noindex, nofollow{% endblock robots %}

{% block hero_title %}Password Reset{% endblock hero_title %}

{% block hero_subtitle %}Please enter your email address to reset your password.{% endblock hero_subtitle %}

{% block content %}
    <!-- Password reset form for email input to request reset link. -->
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Reset Password</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Send Password Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
